<div style="height: 100%; margin: 10px;">
<mat-card class="card card-top">
  <mat-card-header>Symbol Table</mat-card-header>
  <table border="1px solid">
    <!-- <button (click)="menuClicked($event, 'assemble')" > Test </button> -->
    <tr>
      <td> <span> Name</span></td>
      <td> <span> Type</span></td>
      <td> <span> Word Address</span></td>
  
    </tr>
    <tr *ngFor="let variable of variables">
      <td>
        <span>{{variable.name }}</span>
      </td>
      <td>
        <span>{{variable.type }}</span>
      </td>
      <td>
          <span>{{variable.address }}</span>
      </td>
    </tr>
  </table>
</mat-card>
</div>
