<!-- <mat-card class="card card-top"> -->
<mat-card class="card">
  <p><b>Symbol Table</b></p>
  <table border="1px solid">
    <!-- <button (click)="menuClicked($event, 'assemble')" > Test </button> -->
    <tr>
      <td> <span> Name</span></td>
      <td> <span> Type</span></td>
      <td> <span> Address (Hex)</span></td>
  
    </tr>
    <tr *ngFor="let variable of variables | keyvalue: sorting">
      <td>
        <span><b>{{variable.value.name }}</b></span>
      </td>
      <td>
        <span><b>{{variable.value.type }}</b></span>
      </td>
      <td>
          <span><b>{{variable.key }}</b></span>
      </td>
    </tr>
  </table>
</mat-card>

<!-- </mat-card> -->