<!-- Memory (Data)-->
<mat-card class="card">
    <div>
      <p style="display: inline; float:left; margin-top: 10px;"><b>Memory (Data)</b></p>
      <form style="display: inline; float:right">
        <mat-form-field>
          <mat-label>Search by Memory Address...</mat-label>
          <input type="text"
                 placeholder="Memory address (in hex)"
                 aria-label="DataAddress"
                 matInput
                 [formControl]="myDataControl"
                 [matAutocomplete]="autoData">
          <mat-autocomplete #autoData="matAutocomplete">
            <mat-option *ngFor="let word of data" [value]="word.address">
              {{ideService.convertStringToHex(word.address).padStart(4,0)}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>
    </div>
    <table style="border-collapse:collapse;" border="1px solid">
      <tr>
        <td style="background-color: darkseagreen;"> <span> Address (Hex)</span></td>
        <td style="background-color: darkseagreen;"> <span> Value</span></td>
    
      </tr>
      <tr *ngFor="let word of data">
        <td>
          <span><b>{{ideService.convertStringToHex(word.address).padStart(4,0) }}</b></span>
        </td>
        <td>
          <span><b>{{word.value.value }}</b></span>
    
        </td> 
      </tr>
    </table>
</mat-card>

<!-- Memory (Instructions)-->
<mat-card class="card">
    <div>
      <p style="display: inline; float:left; margin-top: 10px;"><b>Memory (Instructions)</b></p>
      <form style="display: inline; float:right" >
        <mat-form-field>
          <mat-label>Search by Memory Address...</mat-label>
          <input type="text"
                 placeholder="Memory address (in hex)"
                 aria-label="InstructionAddress"
                 matInput
                 [formControl]="myInstructionControl"
                 [matAutocomplete]="autoInstructions">
          <mat-autocomplete #autoInstructions="matAutocomplete">
            <mat-option *ngFor="let word of instructions" [value]="word.address">
              {{ideService.convertStringToHex(word.address).padStart(4,0)}}
             
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>
    </div>
    <table style="border-collapse:collapse;" border="1px solid">
      <tr>
        <td style="background-color: darkseagreen;"> <span> Address (Hex)</span></td>
        <td style="background-color: darkseagreen;"> <span> Value (32-bit Instruction Representation, in Hex)</span></td>
    
      </tr>
      <tr *ngFor="let word of instructions">
        <td>
          <span><b> {{ ideService.convertStringToHex(word.address) }}</b></span>
        </td>
        <td>
          <span><b> {{'0x' +ideService.convertBinaryToHex(word.value).padStart(8, 0) }}</b></span>
    
        </td>
      </tr>
    </table>
</mat-card>