<mat-card class="card">
  <!-- <mat-card class="card card-top"> -->
    <p><b>Memory (Data)</b></p>
    <table style="border-collapse:collapse;" border="1px solid">
      <!-- <button (click)="menuClicked($event, 'assemble')" > Test </button> -->
      <tr>
        <td style="background-color: darkseagreen;"> <span> Address (Hex)</span></td>
        <td style="background-color: darkseagreen;"> <span> Value</span></td>
    
      </tr>
      <tr *ngFor="let address of memory | keyvalue: sorting">
        <td>
          <span><b>{{ ideService.convertStringToHex(address.key) }}</b></span>
        </td>
        <td>
          <span><b>{{address.value.value }}</b></span>
    
        </td> 
      </tr>
    </table>
  <!-- </mat-card> -->
</mat-card>
<mat-card class="card">
  <!-- <mat-card class="card card-top"> -->
    <p><b>Memory (Instructions)</b></p>
    <table style="border-collapse:collapse;" border="1px solid">
      <tr>
        <td style="background-color: darkseagreen;"> <span> Address (Hex)</span></td>
        <td style="background-color: darkseagreen;"> <span> Value (32-bit Instruction Representation)</span></td>
    
      </tr>
      <tr *ngFor="let word of instructions">
        <td>
          <span><b> {{ ideService.convertStringToHex(word.address) }}</b></span>
        </td>
        <td>
          <span><b> {{ideService.convertBinaryToHex(word.value).padStart(8, 0) }}</b></span>
    
        </td>
      </tr>
    </table>
  <!-- </mat-card> -->
</mat-card>