<!-- <div>
    <span style="vertical-align: top;"> top bar here </span>
</div> -->
<div class="container" style="height:  100%; display: block;">
    <div>
        <div style="display: inline-block; width: 50.5%; min-width: 20.5%; float: left;">
            <app-text-editor  style="margin:16px"></app-text-editor>
        </div>
        <div  style="display: inline-block; width: 49.5%; min-width: 15%; float: right;">
            <app-symbol-table style="margin:16px"></app-symbol-table>
            <app-memory-table style="margin:16px"></app-memory-table>
        </div>
    </div>
</div>