<!-- <div>
    <span style="vertical-align: top;"> top bar here </span>
</div> -->
<div class="ide-container">
    <div class="header">
        <h2>CSC612M Integrating Project - Simple Simulator</h2>
        <app-menu-actions></app-menu-actions>
    </div>
    <div class="content">
        <div class="editor">
            <app-text-editor style="width: 100%;"></app-text-editor>
        </div>
        <div class="tables">
            <app-register-table></app-register-table> 
            <app-symbol-table ></app-symbol-table>
            <app-memory-table></app-memory-table> 
            <app-cache-table></app-cache-table> 

        </div>
    </div>
    <!-- 
    <div class="content">
        <div style="display: inline-block; width: 45%; min-width: 20.5%; float: left; margin: 0px 5px;">
            <app-text-editor  style="margin:16px"></app-text-editor>
        </div>
        <div  style="display: inline-block; width: 45%; min-width: 15%; float: right; margin: 0px 5px;">
            <app-symbol-table style="margin:16px"></app-symbol-table>
            <app-memory-table style="margin:16px"></app-memory-table>
            <app-register-table style="margin:16px"></app-register-table>
        </div>
    </div> -->
</div>