<!-- <div>
    <span style="vertical-align: top;"> top bar here </span>
</div> -->
<div class="container" style="height:  100%; display: block;">
    <div>
        <div style="display: block;" >
            <app-menu-actions></app-menu-actions>
        </div>
        <div style="display: inline-block; width: 45%; min-width: 20.5%; float: left; margin: 0px 5px;">
            <app-text-editor  style="margin:16px"></app-text-editor>
        </div>
        <div  style="display: inline-block; width: 45%; min-width: 15%; float: right; margin: 0px 5px;">
            <app-symbol-table style="margin:16px"></app-symbol-table>
            <app-memory-table style="margin:16px"></app-memory-table>
        </div>
    </div>
</div>