<mat-card class="card">
  <!-- <mat-card class="card card-top"> -->
    <div>
    <p style="display: inline; float:left; margin-top: 10px;"><b>Cache Memory</b></p>
    <form style="display: inline; float:right" class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Search by Cache Block...</mat-label>
        <input type="text"
               placeholder="Block #"
               aria-label="blockNumber"
               matInput
               [formControl]="myCacheBlockControl"
               [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of blocks" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
    </div>
    <table style="border-collapse:collapse;" border="1px solid">
      <!-- <button (click)="menuClicked($event, 'assemble')" > Test </button> -->
      <tr>
        <td style="background-color: #9e9ac8;"> <span> Cache Block</span></td>
        <td style="background-color: #9e9ac8;"> <span> Memory Block</span></td>
    
      </tr>
      <tr *ngFor="let i of filteredCacheBlockOptions">
        <td>
          <span><b>{{ i }}</b></span>
        </td>
        <td>
          <span><b> </b></span>
    
        </td> 
      </tr>
    </table>
  <!-- </mat-card> -->
</mat-card>
